$border: 2px solid #e0e0e0;
$background: #d0d0d0;

.form {
  padding: 20px;
  background-color: #f0f0f0;
  border: $border;

  &__group {
    margin-bottom: 10px;
    background-color: $background;
    padding: 10px;

    &.--no-bg {
      background-color: #fff;
    }
  }

  &__button {
    background-color: $background;
    padding: 10px;

    &-btn {
      background-color: red;
      color: #fff;
      border: none;
      padding: 10px 20px;

      &:hover {
        background-color: darkred;
      }
    }
  }
}
